body{
	font-family: 'Open Sans', sans-serif !important;
}
header{
	position: relative;
}

header div.top-header{
	background-color: #a0ce4e;
	padding:0.7em;
	display: block;
	overflow: auto;
	z-index:5;
}

header div.top-header span{
	color:#fff;	
}

header div.top-header nav.social-container{
	display: inline-block;
	float:right;
}

header nav.social-container span{
	color:#fff;
	font-size:1.3em;
	margin-right:1em;
	cursor: pointer;
}

header div.bottom-header{
	background-color: #fff;
	display: block;	
	position: relative;
	z-index:10;
    box-shadow: 0px 1px 1px rgb(208, 208, 208);
}

header div.bottom-header img{
    margin: 1em 1em 1em 2em;
    width:13em;
}

header div.bottom-header nav{
	position: absolute;
	top:3em;
	right: 2em;
}

header div.bottom-header nav span{
	margin-right:1em;
	margin-left: 1em;
	padding-top:1.5em;
	font-size:1.1em;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif !important;
}


header div.bottom-header nav span:hover{
	color:#a0ce4e;
	border-top:2px solid #a0ce4e;
}

div.photos{
	width:100%;
	padding-top: 4em;
}

.slick-prev:before, .slick-next:before { 
    color:#000 !important;
}

div.content-container 
 p{
 	
 	font-size:2em;
 	line-height: 1.7em;
 	text-align: center;
 }

 div.fusion-one-third span{
 	font-size:3em;
 	line-height: 0.9em;
 	letter-spacing: 0.1em;
 	float:left;
 	color: #a0ce4e;
 }

div.content-container span{
 	color:#a0ce4e;
 }

 div.fusion-one-third{
 	margin-top:1em;
 	display: inline-block;
 	float: left;
 	padding-right:1em;
 	font-family: 'PT Sans', sans-serif !important;
 	text-align: justify;
 }

 div.word-logo{
 	width:100%;
 	text-align: center;
 	font-family: 'PT Sans', sans-serif !important;
 }

  div.word-logo p{
  	padding: 0;
  	margin:0;
  	line-height: 1;
  }

 div.word-logo p span.a{
 	color: #545454; 	
    font-size: 5em;
 }

 div.parallax-bg{
 	background: url("../assets/facilities/garden_blur.jpg");
 	height:400px;
 	background-attachment: fixed;
 	background-size: cover;
 	background-repeat: no-repeat;
 	width:100%;
 	position: relative;
 	display: table;
 }

div.parallax-bg div.parallax-header{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color:#fff;
}

div.parallax-bg div.parallax-header section h1,h2{
	margin:0;
}

div.parallax-bg div.parallax-header section h1{
	font-family: 'Fondamento', cursive;
}

 div.rates{
 	background-color: #fff;
 	display: table;
 	height:6em;
 	border:1px solid #e5e4e4;
 	border-left:2px solid #a0ce4e;
 	position: relative;
 }

 div.rates::before{
 	content: "";
    position: absolute;
    width: 30%;
    height: 80%;
    left:4px;
    padding-top: 3em;
 	transform: rotate(-3deg);
 	z-index:-1;
 	box-shadow: 0 17px 10px rgba(0, 0, 0, 0.7);
 }

  div.rates::after{
    content: "";
    position: absolute;
    width: 30%;
    height: 80%;
    padding-top: 3em;
    transform: rotate(3deg);
    z-index: -1;
    box-shadow: 0 17px 10px rgba(0, 0, 0, 0.7);
    right: 4px;
 }

 div.rates p.rate-caption{
 	display: table-cell;
 	vertical-align: middle;
 	font-size:1.5em;
 }

 p.btn-details{
 	display: table-cell;
 	vertical-align: middle;
 	width:10em;
 	text-align: center;
 }

p.btn-details button{
	padding:0.7em 2em 0.7em 2em;
	background-image: linear-gradient( to top, #AAD75B, #D1E990 );
	color:#fff;
	font-weight: bold;
	border-radius: 3px;
	border:none !important;
}

 p.btn-details button:hover{
	background-image: linear-gradient( to top, #AAD75B, #AAD75B);
}

 div.word-logo p span.b{
 	color: #0F552D;
 	font-size: 5em;
 }

div.word-logo p span.c{
	color: #0F552D;
    font-size: 4em;
}

hr{
	width:90%;
	border-color: #e0dede;
    border-top-width: 1px;
    border-bottom-width: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.slick-slider{
	margin:0 auto !important;
}

slick{
	cursor: pointer;
}

slick div.slick-list div > img{
	width:100%;
}

body > section{
	padding-top:4em;
}
div.facilities-box{
	margin-bottom: 3em;
	overflow: hidden;
}
div.facilities-box > section{
    display: inline-block;
    position: relative;
    float: right;
    width: 60%;
}

div.facilities-box:nth-child(odd){
	background-color: #F3F3F3;
}

div.facilities-box div.pricing{
	color: #a0ce4e;
	font-size:1.5em;
	margin-top:1em;
	margin-bottom: 1em;
}

div.text-input{
	position: relative;
	margin-top:2em;	
	display: inline-block;
	width:100%;
}

div.text-input span{
	position: absolute;
	top:0.3em;
	left:0.7em;
    font-size:0.9em;
    font-weight: bold;
}

div.text-input input[type="text"],input[type="date"]{
	padding-bottom:0.5em;
	padding-top:0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	font-size:1em;
	line-height: 1em;
	width: 100%;
}

input[type="text"].myFocus {  
    padding-top:1.7em !important;
}

div.the-container{
	padding-top:5em;
	padding-bottom: 5em;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

div.register-form{
	padding:3em;
	background-color:rgba(234, 234, 234, 0.63);
	display:inline-block;
	border-left:2px solid #a0ce4e;
}

div.register-form textarea#text-area{
	resize:none;
	width:100%;
	height:200px;
}

div.contact-container{
    display: inline-block;
    padding:2em;
    background-color:rgba(105, 181, 72, 0.08);
    border-left:2px solid #a0ce4e;
}

div.contact-container input, textarea{
	display: block;
	width: 100%;
	padding:0.5em;
	margin:0.8em;
}

div.contact-container textarea{
	resize:none;
	height:200px;
}

div.review-container ul li:nth-child(odd){
	background-color:rgba(185, 150, 122, 0.13);
}

div.review-container ul li:nth-child(even){
	background-color: rgba(222, 222, 222, 0.41);
}

div.review-container ul li{
	list-style: none;
	margin-bottom:0.5em;
	border-left:2px solid #a0ce4e;
	padding:1em;
}

div.review-container ul li p.message{

}

div.review-container ul li p.author{
	font-weight: bold;
}

footer{
	background-color: #272525;
	margin-top:2em;
	padding:3em;
}

footer ul li{
	list-style: none;
	display: inline;
	text-align: center;
	color:#fff;
}

footer ul li:hover{
	cursor: pointer;
	color:#a0ce4e;
}


footer ul li i.footer-logo{
	font-size:3em;
}