body{
	font-family: 'Open Sans', sans-serif !important;
}
header{
	position: relative;
}

header div.top-header{
	background-color: #a0ce4e;
	padding:0.7em;
	display: block;
	overflow: auto;
	z-index:5;
}

header div.top-header span{
	color:#fff;	
}

header div.top-header nav.social-container{
	display: inline-block;
	float:right;
}

header nav.social-container span{
	color:#fff;
	font-size:1.3em;
	margin-right:1em;
	cursor: pointer;
}

header div.bottom-header{
	background-color: #fff;
	display: block;	
	position: relative;
	z-index:10;
    box-shadow: 0px 1px 1px rgb(208, 208, 208);
}

header div.bottom-header img{
    margin: 1em 1em 1em 2em;
    width:13em;
}

header div.bottom-header nav{
	position: absolute;
	top:3em;
	right: 2em;
}

header div.bottom-header nav span{
	margin-right:1em;
	margin-left: 1em;
	padding-top:1.5em;
	font-size:1.1em;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif !important;
}


header div.bottom-header nav span:hover{
	color:#a0ce4e;
	border-top:2px solid #a0ce4e;
}

div.photos{
	width:100%;
	padding-top: 4em;
}

.slick-prev:before, .slick-next:before { 
    color:#000 !important;
}

div.container div.content-container 
 p{
 	
 	font-size:2em;
 	line-height: 1.7em;
 	text-align: center;
 }

 div.container div.fusion-one-third span{
 	font-size:3em;
 	line-height: 0.9em;
 	letter-spacing: 0.1em;
 	float:left;
 	color: #a0ce4e;
 }

 div.container div.content-container span{
 	color:#a0ce4e;
 }

 div.fusion-one-third{ 	
 	width: 30.66666%;
 	display: inline-block;
 	float: left;
 	padding-right:1em;
 	font-family: 'PT Sans', sans-serif !important;
 	text-align: justify;
 }

 div.word-logo{
 	width:100%;
 	text-align: center;
 	font-family: 'PT Sans', sans-serif !important;
 }

  div.word-logo p{
  	padding: 0;
  	margin:0;
  	line-height: 1;
  }

 div.word-logo p span.a{
 	color: #545454; 	
    font-size: 5em;
 }

 div.word-logo p span.b{
 	color: #0F552D;
 	font-size: 5em;
 }

div.word-logo p span.c{
	color: #0F552D;
    font-size: 4em;
}

hr{
	border-color: #e0dede;
    border-top-width: 1px;
    border-bottom-width: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.slick-slider{
	margin:0 auto !important;
}

slick div.slick-list div > img{
	width:100%;
}

body > section{
	padding-top:4em;
}
div.facilities-box{
	margin-bottom: 3em;
	overflow: hidden;
}
div.facilities-box > section{
    display: inline-block;
    position: relative;
    float: right;
    width: 60%;
}

div.facilities-box > section h3{
	margin-top:0;
}

div.facilities-box div.pricing{
	color: #a0ce4e;
	font-size:1.5em;
	margin-top:1em;
	margin-bottom: 1em;
}
