<div class="container">
	<div class="facilities-box">
		<img width="333px" src="../assets/facilities/rv.jpg">
		<section>
			<h3>RV Camping</h3>
			<h5>RV camping in the Ruidoso area is the place to be when it gets hot in Texas</h5>
			<ul>
				<li>13 un-crowded RV spaces total</li>
				<li>5 pull-throughs</li>
				<li>9 back-ins</li>
				<li>All with full hookups including both 30 & 50 amp electrical service</li>
				<li>free WIFI!</li>
			</ul>

			<div class="pricing">
				<span>Pricing: $35.00/night (includes tax)</span>
			</div>
		</section>
	</div>
	<div class="facilities-box">
		<img width="333px" src="../assets/facilities/tent.jpg">
		<section>
			<h3>Tent Camping</h3>
			<h5>Tent camping in the cool pines at Stone Mountain RV Resort</h5>
			<p>We have tent camping available all year long. When you need a break from the drudgery of work consider a tent camping trip to our resort.</p>

			<p>We have tent sites: back in the woods, along our seasonal draw and out in the open.</p>		

			<div class="pricing">
				<span>Pricing:</span>
				<ul>
					<li>Under 6 yrs old is no charge</li>
					<li>6-12 yrs $7.00/person per night (tax included)</li>
					<li>Over 12 yrs $10.00/person per night (tax included)</li>
				</ul>
			</div>
		</section>
	</div>
	<div class="facilities-box">
		<img width="333px" src="../assets/facilities/horse.jpg">
		<section>
			<h3>Horse Camping</h3>
			
			<p>We are the only RV park/campground that accepts horses and mules. Bring your own electric fence, panels, tethering, etc. We provide a wheel barrel & a shovel.</p>

			<p>We are close to all of the trails in the Lincoln National Forest as well as the trails at Fort Stanton managed by the BLM. You will need to book your reservation soon to guarantee your accommodation.</p>

			<p>Drive a little and save some money. We are just minutes North of Ruidoso. We are close to the horse race track in Ruidoso Downs, the casinos, dining, fishing, hunting, shopping and all other area attractions and events.</p>

			<p>Our resort is located in the mountains and woods North of Ruidoso in a quiet, peaceful and serene forest setting in a small valley with wonderful scenic views and beautiful sunrises and sunsets.</p>

			<div class="pricing">
				<span>Pricing:</span>
				<ul>
					<li>Under 6 yrs old is no charge</li>
					<li>6-12 yrs $7.00/person per night (tax included)</li>
					<li>Over 12 yrs $10.00/person per night (tax included)</li>
				</ul>
			</div>
		</section>
	</div>
	<div class="facilities-box">
		<img width="333px" src="../assets/facilities/short.png">
		<section>
			<div>
				<h3>Patsy’s Nest</h3>
				<p>A clean, cozy and smoke free newly remodeled one bedroom, one bath suite with queen bed, kitchen, dining and living areas. We have the best lodging value in the area: $99 per night including tax for two. Smoking is not allowed. Pets allowed with a $75.00 non-refundable pet fee. You will need to book your reservation soon to guarantee your accommodation. Drive a little and save some money. We are just minutes North of Ruidoso. We are also close to all shopping, casinos and all other area attractions. Our resort is located North of Ruidoso in a quiet, peaceful and serene mountain setting in a small valley with wonderful scenic views and beautiful sunrises and sunsets.</p>
				<div class="pricing">
					<span>Pricing: $99.00/night tax included – minimum 3 night stay</span>				
				</div>
			</div>

			<div>
				<h3>Bob’s Bunkroom</h3>
				<p>A one bedroom, one bath, studio with a queen bed and snack bar. Like a motel type room.</p>
				<div class="pricing">
					<span>Pricing: $65.00/night tax included – Minimum 2 night stay; for Holiday Weekends – minimum 3 night stay</span>
				</div>
			</div>
		</section>
	</div>
	<div class="facilities-box">
		<img width="333px" src="../assets/facilities/long.jpg">
		<section>
			<h3>Long-term RV spaces and mobile home housing are available at Stone Mountain RV Resort</h3>

			<p>Vacant Long-Term RV Spaces: Currently spaces available; call for our monthly rate.</p>

			<p>Vacant Mobile Homes: Please check back, all mobile homes are currently occupied.</p>

			<span>We have:</span>
			<ul>
				<li>Spaces for rent on a long-term basis with great monthly rates for those RVers needing such accommodations</li>
				<li>2 single wide mobile homes and 1 double wide mobile home available for permanent residents with a minimum 6 month lease. Longer term leases are welcomed.</li>
			</ul>
		</section>
	</div>
</div>