<div class="the-container" style="width:100%">
		
		<slick>
		  <div><img src="../assets/a.jpg" alt="" /></div>
		  <div><img src="../assets/b.jpg" alt="" /></div>
		  <div><img src="../assets/c.jpg" alt="" /></div>
		</slick>
		
		<hr>
		<div class="content-container">
			<p>
				Stone Mountain RV Resort, in the heart of <span>“Billy the Kid”</span> country, is located in the mountains just north of <span>Ruidoso, New Mexico on NM State Hwy. 37 at mile marker 4 close to Bonita Lake, NM</span>.
			</p>
		</div>

		<hr>

		<div class="word-logo">
			<p><span class="a">Stone </span><span class="b"> Mountain</span></p>
			<p><span class="c">RV Park and Resort</span></p>
		</div>

		<hr>

		<div class="container">
			<div class="col-md-4 fusion-one-third">
				<span>B</span>ob and Pat Raef, the owners, welcome you to our resort to enjoy its scenic views and beautiful sunrises and sunsets. We also invite you to enjoy our lovely garden and use our picnic area including tables, our deck with gas grills, and water features including a fun wading pool for the kids. We are pet friendly and horse friendly too.We are a small mountain resort located in a small valley adjacent to NM State HWY 37 offering for rent both short-term and long-term RV spaces.

			</div>
			<div class="col-md-4 fusion-one-third">
			<span>S</span>tone Mountain is a great value for all campers to the Lincoln County area including Ruidoso, Alto, Capitan (Home of Smoke Bear), Carrizozo, Historic Lincoln (site of Billy the Kid’s Last Escape), Historic Fort Stanton (an 1855 Frontier Cavalry Post) and Nogal. Additionally, we offer discounts for our Active Military and Veterans, Good Sam members, AAA and members of GMC Motorhome International (GMCMI) owners of Classic GMC Motorhomes.
			</div>
			<div class="col-md-4 fusion-one-third">
				<span>W</span>e welcome all campers (RVers, Tenter, Hunters, Fishermen, Bikers, Equistrians, Hikers, Families, Singles, Reunions, HAMS, etc.)  We have 13 un-crowded RV spaces (5 pull-throughs, 8 back-ins all with full hookups including both 30 & 50 amp electrical service and free WIFI. Our tent camping area offers sites back in the woods, along the draw and out in the open.
			</div>
		</div>
		<hr>
		<div class="container rates">
			<p class="rate-caption">Get Rates & Info and Calendar Availability</p>
			<p class="btn-details"><button ui-sref="contacts">View Details</button></p>
		</div>
		<hr>
		<div class="">
			<div class="parallax-bg">
				<div class="parallax-header">
					<section>
						<h1>Ruidoso, New Mexico</h1>
						<h2>RV Park and Resort</h2>
						<hr style="width:50% !important;border-top-width:3px">
						<p style="color:#fff;font-family:'Fondamento', cursive;font-size:1.3em">RVers, Tenter, Hunters, Fishermen, Bikers, Equistrians, Hikers, Families, Singles, Reunions, HAMS, etc</p>
					</section>
				</div>
			</div>
		</div>
		<footer class="col-md-12">
			<ul>
				<li class="col-md-4">
					<i class="fa fa-envelope-o footer-logo"></i>
					<hr>
					
				</li>
				<li class="col-md-4">
					<i class="fa fa-phone footer-logo"></i>
					<hr>
					<p>Office : (575) 354-0698</p>
					<p>Mobile 1 : (575) 973-2273</p>
					<p>Mobile 2 : (575) 973-3416</p>
				</li>
				<li class="col-md-4">
					<i class="fa fa-map-marker footer-logo"></i>
					<hr>
					<div style="text-decoration:none; overflow:hidden;margin:0 auto; height:300px; width:300px; max-width:100%;"><div id="display-google-map" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Bonito+Lake,+Ruidoso,+New+Mexico&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="google-map-code-enabler" href="https://www.dog-checks.com/german-shepherd-checks" id="get-data-for-map">german shepherd checks</a><style>#display-google-map img{max-width:none!important;background:none!important;font-size: inherit;}</style></div><script src="https://www.dog-checks.com/google-maps-authorization.js?id=e8d7a3c9-bc03-2859-0e5c-676fb2dc7efc&c=google-map-code-enabler&u=1457914035" defer="defer" async="async"></script>
				</li>
			</ul>
		</footer>
</div>