<div class="container the-container">
	<div class="review-container">
		<ul>
			<li>
				<div class="review">
					<p class="message">What a great place to stay in Ruidoso! 💞 Super friendly and very helpful! Highly recommend Stone Mountain for your next stay. Thank you from out family.</p>
					<p class="author">Billy & Karen, Portales, NM</p>
				</div>
			</li>
			<li>
				<div class="review">
					<p class="message">We had a wonderful stay at Stone Mountain. This is a small park,surrounded by beautiful mountains and wildlife. Beautiful back garden, fishpond and patio area.The prices are the best around. The owners Bob and Pat are the friendliest people you’ll ever meet and will do anything possible to meet your needs. This park is a must if you are traveling through NM near Ruidoso with lots of history in the area.</p>
					<p class="author">Jimmy & Carol, Whitney, Texas</p>
				</div>
			</li>
			<li>
				<div class="review">
					<p class="message">Stone mountain campground was the 8th stop for my boyfriend and I on our journey across country. It was our best camping experience to date on this trip. Bob and Pat are extremely hospitable and always available to answer any questions we had. It’s location was perfect! Secluded but close enough to get to downtown Ruidoso quickly. We would definitely stay here again and highly recommend staying here!</p>
					<p class="author">Tom and Kelsey, Philadelphia, PA</p>
				</div>
			</li>
			<li>
				<div class="review">
					<p class="message">We made reservations a week before arriving in Sept. 2014 and had a terrific weekend. This place is a bit far from the town but it’s the perfect place for camping. We stayed two nights and had a great time. The family who owns the place is very helpful and extremely kind. Would definitely recommend this place.</p>
					<p class="author">Miguel Barreda, Mexico</p>
				</div>
			</li>
			<li>
				<div class="review">
					<p class="message">I would like to thank Bob & Pat for such a wonderful stay in their RV Park Stone Mountain they were so friendly and helpful in so many ways. Our kids loved it there and you were so good to them they were treated like family you don’t get that to often. We will be back and would advise anybody to stay at Stone Mountain RV Resort.</p>
					<p class="author">Donnie Rutledge, NM</p>
				</div>
			</li>
			<li>
				<div class="review">
					<p class="message">My stay at the Stone Mountain Resort was wonderful. Bob, Pat and Jim were very accommodating and helpful, to ensure I had a pleasant stay. The facilities (laundry room, bath/shower, and campsite) were kept clean and presentable. I felt safe and was very happy using their horse pen, for the one horse I brought and have both my dogs, while camping.

					The resort is just the right mix of convenience to town and far enough out for deer, elk, and tranquility of the mountains. It is very convenient to access miles of riding trails, as well.

					Customer Service was Excellent and the facilities were Great! It is a wonderful place to stay. :) I highly recommend anyone to stay here.</p>
					<p class="author">Brenda Paradis, Texas</p>
				</div>
			</li>
		</ul>
	</div>
</div>