<div class="container-fluid theme1" style="height:800px">
	<header>
		<div class="contact-overview">
	          <p>Call Us Today! (360) 652-0619 | office@campground.com</p>
	          <div class="socials">
	              <a href=""><i class="fa fa-facebook"></i></a>
	              <a href=""><i class="fa fa-twitter"></i></a>
	              <a href=""><i class="fa fa-pinterest-p"></i></a>
	          </div>
	    </div>
	    <div class="control-container">
	    	<div class="logo">Mark's Campground</div>
			<div class="controls">
				  <ul class="options">
		            <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
		            <li><a href="#"><i class="fa fa-life-ring"></i> Amenities</a></li>
		            <li><a href="#"><i class="fa fa-arrows"></i> Directions</a></li>
		            <li><a href="#"><i class="fa fa-map"></i> Map</a></li>
		            <li><a href="#"><i class="fa fa-phone"></i> Contact Us</a></li>
		          </ul>
			</div>
		</div>
	</header>

	<main>

	 	<div class="col-md-12 img-container">
	       <div class="img-cover"></div>
	       <section>
	            <h3>Saint, Washington D.C</h3>
	            <p>RV CAMPING RESORT</p>
	            <h4>Conveniently located by shopping districts</h4>
	        </section>
	    </div>
	      <div class="introduction">
	    	<p style="text-align: center; font-size: 30px !important;">
	    		Welcome to one of Northwest Washington’s most 
	    		<span style="color: #a0ce4e;">Beautiful</span> and 
	    		<span style="color: #a0ce4e;">Entertaining</span> 
	    		RV and Campground Resorts
	    	</p>
	    </div>

	    <div class="block-container col-xs-12" style="display: inline-block;">
			 <figure class="img-circle">
		        <img class="img-circle" src="../assets/images/a.jpg">
		        <section>
		            <p>Amenities</p>
		            <article>
		            	<ul>
		            		<li></li>
		            		<li></li>
		            		<li></li>
		            	</ul>
		            </article>
		        </section>
		    </figure>
		    <figure class="img-circle col-md-offset-1">
		        <img class="img-circle" src="../assets/images/a.jpg">
		        <section>
		            <p>Activities</p>
		            <article>
		            	Swimming in the campground is one of the most ..
		            </article>
		        </section>
		    </figure>
		     <figure class="img-circle col-md-offset-1">
		        <img class="img-circle" src="../assets/images/a.jpg">
		        <section>
		            <p>Directions</p>
		            <article>
		            	Swimming in the campground is one of the most ..
		            </article>
		        </section>
		    </figure>
    	</div>


	</main>
</div>
